@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: 'Bauhaus';
    src: url('/fonts/Bauhaus.ttf') format('truetype');
}

:root {
    @apply dark:bg-indigo-950 dark:text-indigo-100 bg-[#ddf3ff] text-slate-600;

    font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-bauhaus {
    font-family: 'Bauhaus', sans-serif;
}
