---

---

<div id="container" class="flex flex-col w-screen h-screen justify-center items-center gap-5 p-2 text-center">
  <h1 class="text-5xl md:text-7xl xl:text-9xl font-bauhaus">Cotecreator</h1>
  <h2 class="text-3xl md:text-4xl xl:text-7xl font-montserrat">Work in progress</h2>

  <p>Esta página está siendo desarrollada en Astro!</p>
</div>

<style>
</style>
