---

---

<div id="container" class="flex flex-col w-screen h-screen justify-center items-center gap-5">
  <h1 class="text-8xl font-bauhaus">Cotecreator</h1>
  <h2 class="text-6xl font-montserrat">Work in progress</h2>

  <p>Esta página está siendo desarrollada en Astro!</p>
</div>

<style>
</style>
